body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
    margin-top: 20px;
}

div {
    margin-top: 20px;
}

.buttons {
    display: flex;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}
#roundDisplay{
    font-size: 80px;
}
#timerDisplay{
    font-size: 120px;
}
#resetButton{
    background-color: red;
    border: none !important;
    border-radius: 20px;
    box-shadow: 4px 3px 18px -4px rgba(10, 10, 10, 1);
}
#startButton{
    background-color: green !important;
    border: none !important;
    border-radius: 20px;
    box-shadow: 4px 3px 18px -4px rgba(10, 10, 10, 1);
}
#voltar{
    margin-top: 20px;
    border: none !important;
    border-radius: 20px;
    box-shadow: 2px 2px 8px -4px rgba(10, 10, 10, 1);
}


